# Configuración de Telegram (MTProto)
TELEGRAM_API_ID=tu_api_id
TELEGRAM_API_HASH=tu_api_hash
TELEGRAM_PHONE=tu_numero_telefono_con_codigo_pais

# Claves de APIs de Modelos de Lenguaje
GEMINI_API_KEY=tu_gemini_api_key
GROQ_API_KEY=tu_groq_api_key

# Configuración de Ingestor Automático y Asistente de Correos
GMAIL_USER=tu_correo_gmail@gmail.com
GMAIL_APP_PASSWORD=tupasswordde16caracteres
CORREO_CORPORATIVO=cristian.merlo@outlook.com

# Configuración de Google Drive y Sheets
SPREADSHEET_ID=tu_spreadsheet_id_de_google_sheets
DRIVE_WEBAPP_URL=tu_google_apps_script_webapp_url
